.container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px; 
    grid-template-rows: 150px;
    grid-column-gap: 150px;
  }

  #chart1 {
  background: #fafafa;

  }

  #chart2 {
    background: #fafafa;
  
    }
    
  #chart3 {
    background: #fafafa;
  
    }
    
  #chart4 {
    background: #fafafa;
  
    }