
body {
    background-color: #161616;
  }
  
  /* vh measured in percentage of screen */
  .container {
      display: grid;
      grid-template-columns: 20vw 20vw 20vw 20vw;
      grid-template-rows: 10vh; 
      grid-column-gap: 5vw;
    }

  
    #chart1 {
    background: #161616;
    color: #ccc;
    font-family: Helvetica;
  
    }
  
    #chart2 {
      background: #161616;
      color: #ccc;
      font-family: Helvetica;
    
      }
      
    #chart3 {
      background: #161616;
      color: #ccc;
      font-family: Helvetica;
    
      }
      
    #chart4 {
      background: #161616;
      color: #ccc;
      font-family: Helvetica;
    
      }
  
      h1 {
        /* text-align: left; */
        font-family: Georgia;
        /* font-size: x-large; */
        font-style: bold;
        color: #ccc
        }
  
        .description {
          max-width: 700;
          /*text-align: justify;*/
          text-anchor: middle;
          color: rgb(167, 167, 167);
          /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 18px;
          margin-bottom: 0;
          }

        .movingHeadline{
            font-size: 20px;
            font-family: Helvetica
        }
  
      .title {
        margin-top: 80px;
        margin-bottom: 50px;
        font-weight:900;
        font-size:50px;
    }
    
    .subTitle {
        font-weight:500;
        font-size:25px;
        opacity: 0.9;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .barLegendText {
      font-size: 13px;
      font-family: Georgia;
      fill:silver;
      text-anchor: start;
      text-align:left;
      opacity:0.9
  }
  
  .barChart {
    /* font-size: 13px;
    font-family: Helvetica; */
    fill:cyan;
    text-anchor: start;
    text-align:left;

}



  .xAxis line, .yAxis line{
    stroke: silver;
    }
    
    .yAxis text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-anchor: end;
    fill: silver;
    font-weight: bold;
    }
    
    
    .xAxis path, .yAxis path {
      display: none;
    }

    span{
        color: silver
        
    }